@charset "UTF-8";
/* COLORES */
/* COLORES CARDS*/
/*colores body*/
/* FUENTES */
/* TAMAŃOS */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;500&family=Roboto+Slab:wght@300;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none; }

html {
  font-size: 62.5%; }

.navbar-nav .nav-item {
  font-size: 1.7rem;
  -webkit-animation: scale-up-bottom 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-bottom 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both; }

.navbar-nav .menu1 {
  animation-delay: 0.1s; }

.navbar-nav .menu2 {
  animation-delay: 0.2s; }

.navbar-nav .menu3 {
  animation-delay: 0.3s; }

.navbar-nav .menu4 {
  animation-delay: 0.4s; }

.navbar-nav .menu5 {
  animation-delay: 0.5s; }

@-webkit-keyframes scale-up-bottom {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%; } }

@keyframes scale-up-bottom {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%; } }

body {
  font-family: "Barlow", "san-serif";
  background-color: #e6e4e4; }

.carousel-item {
  max-height: 100vh; }

.cardTanque {
  border-radius: 35px 0 40px 0;
  border-style: none;
  background: -webkit-linear-gradient(left, #f56200, #d1793d, #e95a0d);
  background: -moz-linear-gradient(left, #f56200, #d1793d, #e95a0d);
  background: -o-linear-gradient(left, #f56200, #d1793d, #e95a0d);
  background: linear-gradient(left, #f56200, #d1793d, #e95a0d); }
  .cardTanque .card-body {
    background: #ffffff;
    border-radius: 0 0 35px 0;
    box-shadow: 0 0.9rem 1rem rgba(0, 0, 0, 0.2); }
    .cardTanque .card-body:hover {
      box-shadow: 0 0.9rem 1rem rgba(209, 121, 61, 0.6); }
  .cardTanque .card-title {
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px; }

.cardSecondary {
  border-radius: 35px 0 40px 0;
  border-style: none;
  height: 100%;
  width: 80%;
  background: #ffffff;
  box-shadow: 0 0.9rem 1rem rgba(0, 0, 0, 0.2); }
  .cardSecondary:hover {
    box-shadow: -1px -1px 2px #d1793d, 2px 2px 5px #c75c15; }
  .cardSecondary-header {
    font-size: 40px; }
  .cardSecondary-body {
    border-radius: 0 0 35px 0; }
    .cardSecondary-body .cardSecondary-text {
      font-size: 16px;
      text-align: start;
      padding-top: 10px;
      padding-bottom: 5px;
      margin: 10px; }

.mapStyle {
  border-radius: 20px;
  box-shadow: 0 0.9rem 1rem rgba(0, 0, 0, 0.5); }

.mapText {
  text-align: center;
  padding-top: 50px; }
  .mapText h2 {
    font-size: 25px; }
  .mapText h4 {
    padding-top: 10px;
    font-size: 16px; }

.cardSecondary-body a{
  color: black;
  font-size: 16px;
  text-decoration: none;


}
.cardSecondary-header img{

  filter: invert(61%) sepia(58%) saturate(746%) hue-rotate(342deg) brightness(101%) contrast(99%);


}

.btnContacto {
  background: #1d1b1b;
  cursor: pointer;
  border: none;
  padding: 14px 42px;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  position: relative;
  border-radius: 20px; }
  .btnContacto::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #f56200, #d1793d, #e95a0d, orange, #f6b606);
    background-size: 800%;
    border-radius: 10px;
    filter: blur(8px);
    animation: glowing 20s linear infinite; }

@keyframes glowing {
  0% {
    background-position: 0 0; }
  50% {
    background-position: 400% 0; }
  100% {
    background-position: 0% 0; } }

.btn {
  margin-top: 50px;
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 15px;
  background: #ffffff;
  border: 2px solid #ffffff;
  transition: all 0.3s;
  box-shadow: 1px 1px 2px #0909095b, -2px -2px 5px #0909095b; }
  .btn:hover {
    border: 1px solid #d1793d !important; }
  .btn:active {
    box-shadow: 1px 1px 2px #d1793d, -2px -2px 5px #c75c15;
    background-color: #d1793d; }

.accordion-item {
  background-color: #f8f8f8;
  color: #1d1b1b; }

.accordion-body {
  font-size: 16px; }

.accordion-button {
  font-size: 20px; }
  .accordion-button:not(.collapsed) {
    color: inherit;
    background: #191a1bc1;
    color: #d1793d; }
    .accordion-button:not(.collapsed)::after {
      filter: brightness(0%) invert(100%); }

.form-label {
  font-size: 14px; }

.form-control {
  height: 50px;
  font-size: 14px; }
  .form-control:focus {
    border-color: #d1793d;
    box-shadow: inset 0 1px 1px rgba(255, 153, 0, 0.861), 0 0 8px rgba(255, 140, 0, 0.6); }

.contentSection {
  font-size: 20px; }
  .contentSection h2 {
    font-size: 40px;
    font-weight: bold; }
  .contentSection .images {
    padding: 0;
    margin: 0;
    max-height: 600px;
    border-end-end-radius: 5px;
    border-end-start-radius: 5px;
    box-shadow: 0 0.9rem 1rem rgba(0, 0, 0, 0.6); }

@media (max-width: 767px) {
  .contentSection .images {
    height: 100%;
    width: 100%; } }

@media (max-width: 576px) {
  .contentSection .images {
    height: 100%;
    width: 100%; } }

.row p {
  font-size: 1.5rem; }

.row img {
  margin-right: 10px; }

.bd-footer {
  margin-top: 100px; }

.textSizeFooter {
  font-size: 14px; }

hr {
  color: #d1793d; }

li {
  color: #d1793d !important; }
  li a {
    color: #f8f8f8; }
  li a:hover {
    color: #d1793d !important; }

.noLink {
  color: #f8f8f8 !important; }

.col-sm-12 .hp {
  margin-right: 100px; }

.list-unstyled li {
  font-family: "Roboto Slab", "serif";
  font-size: 1.2rem; }

.list-unstyled li a {
  font-family: "Roboto Slab", "serif";
  font-size: 1.2rem;
  text-decoration: none; }

.btn--facebook {
  background-color: #3a5795; }

.btn--whatsapp {
  background-color: #08e57a; }

@media (max-width: 992px) {
  .list-unstyled li {
    font-family: "Roboto Slab", "serif";
    font-size: 1.2rem; }
  .list-unstyled li a {
    font-family: "Roboto Slab", "serif";
    font-size: 1.2rem; } }

@media (max-width: 768px) {
  .list-unstyled li {
    font-family: "Roboto Slab", "serif";
    font-size: 1.2rem;
    margin-left: 35%;
    display: flex;
    flex-direction: grid;
    justify-content: start;
    align-items: none; }
  .list-unstyled li a {
    font-family: "Roboto Slab", "serif";
    font-size: 1.2rem; } }

@media (max-width: 576px) {
  .list-unstyled li {
    font-family: "Roboto Slab", "serif";
    font-size: 1.1em;
    margin-left: 10%;
    display: flex;
    flex-direction: flex;
    justify-content: start;
    align-items: none; }
  .list-unstyled li a {
    font-family: "Roboto Slab", "serif";
    font-size: 1.1rem; } }

@media (max-width: 350px) {
  .list-unstyled li {
    font-family: "Roboto Slab", "serif";
    font-size: 1rem;
    display: flex;
    flex-direction: flex;
    justify-content: start;
    align-items: none; }
  .list-unstyled li a {
    font-family: "Roboto Slab", "serif";
    font-size: 1rem; } }

/*li{
display: flex;
justify-content: center;
}*/
