@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;500&family=Roboto+Slab:wght@300;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
}

html {
  font-size: 62.5%;
}

$redes: (
  facebook: #3a5795,
  whatsapp: #08e57a,
);

$fuentesFooter: (
  sm: 1rem,
  md: 1.1rem,
  lg: 1.2rem,
  xl: 1.2rem,
);
