

/* COLORES */
$primary:#d1793d;
$secondary:  hsla(30, 6%, 86%, 0.606);
$body:rgb(230, 228, 228);
$text-color-primary: rgb(248, 248, 248);
$text-color-secondary: rgb(27, 26, 26);

/* COLORES CARDS*/
$color-card-one: rgb(245, 98, 0);
$color-card-two: #d1793d;
$color-card-three:rgb(233, 90, 13);

$list1: $color-card-one, $color-card-two, $color-card-three; 


/*colores body*/
$light-background: #ffffff;
$light-text: #191a1bc1;
$dark-background: #191a1bc1;
$dark-text: #d2e1dd;

/* FUENTES */
$font-principal: 'Barlow', 'san-serif';
$font-title: 'Roboto Slab', 'serif';


/* TAMAŃOS */
$xs:0px;
$sm: 576px;
$md: 767px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$breakpoints:(
    "xs": 0px,
    "sm": 576px,
    "md": 768px,
    "lg": 992px,
    "xl": 1200px,
    "xxl": 1400px,
)